<% include partials/header.ejs%>
<title>Pexel License</title>
</head>
<body>

        <div style="height: 50px;background-color: black;" id="navbar">
            <div style="position:absolute;top: 5px;left: 10px;width: 300px;" class="ui icon input">
                <input id="searchip1" data-content="Please Enter Something.." data-variation="inverted" placeholder="Search for free photos..." type="text">
                <i id="searchbtn1" class="inverted circular search link icon"></i>
            </div>
            <a href="/">
                <img style="width: 120px;margin-top: 10px;margin-left: 45%" src="https://www.pexels.com/assets/pexels-477be655a97f6f1215e2d433bd6d8f3c8dc36373dabe55484cc13a3c1a105974.png" alt="pexel-pic">
            </a>

            <div style="float: right;margin-top: 8px">
                <a href="/upload" style="border-radius: 2px;font-size: 13px;float: left;margin-right: 25px;margin-top: 3px" class="medium ui button green">Contribute Photos</a>
                <!--<div style="float: left" class="ui dropdown">-->
                <!--<img width="40px" class="ui image circular" src="https://static.pexels.com/users/avatars/230795/raghav-gupta-530-small.png" alt="">-->

                <div style="margin-top: 10px;font-size: 18px;margin-right: 20px" class="ui inline dropdown">

                    <i style="color: white;" class="fa fa-align-justify" aria-hidden="true"></i>
                    <br>
                    <div style="margin-top: 10px" id="menuitems" class="menu">
                        <%if(data !== undefined){%>

                        <a style="text-transform: capitalize;width: 210px" href="/profile" class="item"><%= data.username%></a>

                        <%}else{%>
                        <a style="width: 210px;"  href="/login" class="item">
                            Login
                        </a>
                        <a  href="/register" class="item">
                            SignUp
                        </a>

                        <%}%>

                        <%if(data !== undefined){%>
                        <a href="/logout" class="item">
                            Logout
                        </a>
                        <%}%>

                        <a href="/photo-license" class="item">
                            License
                        </a>
                        <div  style="border-top: 1px solid #888888" class="item icons2">
                            <a style="margin-right: 10px;font-size: 18px;color: #648484" href="https://www.instagram.com/_raghav__/"><i style="margin-right: 50px" class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a style="margin-right: 10px;font-size: 18px;color: #648484" href="https://twitter.com/raghavg06"><i style="margin-right: 50px" class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a style="margin-right: 10px;font-size: 18px;color: #648484" href="https://www.facebook.com/raghav.gupta.16906"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div style="height: 60px;background-color: #f9f9f9;text-align: center">
            <ul style="list-style: none;padding: 20px;">
                <a href="/about-us" style="padding: 19px;color: #666">About Us</a>
                <a style="padding: 19px;color: #4a90e2;border-bottom: 2px solid #4A90E2">License</a>
                <a href="/faq" style="padding: 19px;color: #666;">FAQ</a>
            </ul>
        </div>
        
        <div style="background-image: url(https://www.pexels.com/assets/page-headers/woman-957b02e81f6664f63d640eb8b23111172fad8e0d5e1f720bf6fa4ed9863f9d9a.jpg);height: 370px;text-align: center;padding: 100px 400px 100px 400px; ">
            <h1 style="font-size: 4em;color: white;">Legal Simplicity</h1>
            <p style="color: white;font-size: 20px;">All photos on Pexels are free for any personal and commercial purpose.</p>
        </div>

        <div style="padding: 50px 300px 0px 300px;">
            <p style="font-size: 18px;">

                It's hard to understand complex licenses that is why all photos on Pexels are licensed under the <b>Creative Commons Zero (CC0) license</b>. This means the pictures are completely free to be used <b>for any legal purpose</b>.</p>
        </div>

        <div style="padding: 50px 300px 0px 300px;">
            <p style="font-size: 18px;">
                The only restriction is that identifiable people may not appear in a bad light or in a way that they may find offensive, unless they give their consent. You should also make sure the depicted content (people, logos, private property, etc.) is suitable for your application and doesn't infringe any rights.
            </p>
        </div>

        <div style="padding: 50px 300px 0px 300px;">
            <p style="font-size: 18px;">
                The CC0 license was released by the non-profit organization Creative Commons (CC). Get more information about Creative Commons images and the license on the official license page.
            </p>
        </div>

        <div style="padding: 50px 300px 0px 300px;margin-bottom: 100px">
            <h1 style="font-size: 35px;">Contribute</h1>
            <p style="font-size: 18px;">Upload your own pictures to support the Pexels community:</p>
            <a href="/upload" class="ui blue button large">Start Uploading</a>
        </div>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
        <script>

            $('.ui.inline.dropdown').dropdown();
            $('#searchbtn1').click(function () {
                let sq = $('#searchip1').val();
                if(sq == ''){
                    $('#searchip1').popup();
                }else{
                    window.location = '/search/' + sq;
                }
            });

        </script>



<% include partials/footer.ejs%>